.logo {
  display: inline-block;
  text-decoration: none;

  &:visited {
    color: inherit;
  }

  &:focus,
  &:hover {
    color: var(--ai-hover, var(--mantine-primary-color-filled-hover));

    .icon {
      background-color: var(--ai-hover, var(--mantine-primary-color-filled-hover));
    }
  }
}

@media print {
  .header {
    display: none !important;
  }
}
