.link {
  display: inline-block;

  @mixin hover {
    text-decoration: none;

    .title {
      color: var(--mantine-color-blue-filled-hover);

      @mixin dark {
        color: var(--mantine-color-yellow-filled-hover);
      }
    }

    .avatar span {
      background: var(--mantine-color-blue-filled-hover);

      @mixin dark {
        background: var(--mantine-color-yellow-filled-hover);
      }
    }
  }
}

.title {
  order: 1;
  color: var(--mantine-color-text);
  transition: color 300ms ease;

  @media (min-width: $mantine-breakpoint-sm) {
    order: 2;
  }
}

.avatar {
  order: 2;

  span {
    transition: background 300ms ease;
    background: var(--mantine-color-blue-filled);

    @mixin dark {
      background: var(--mantine-color-yellow-filled);
    }
  }

  @media (min-width: $mantine-breakpoint-sm) {
    order: 1;
  }
}
