.container {
  height: 100%;

  .wrapper {
    height: 100%;
  }

  .link {
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: center;
    justify-content: center;

    border-radius: 50%;

    &::before {
      content: '';

      position: absolute;
      z-index: 2;

      width: 100%;
      height: 100%;

      opacity: 0;
      transition: opacity 0.2s ease-in-out;
      background-color: #000;
    }

    &:focus::before {
      opacity: 0.2;
    }

    @mixin hover {
      &::before {
        opacity: 0.2;
      }
    }
  }

  .avatar {
    width: 100%;
    height: auto;
  }
}
