.container {
  height: 100%;

  .wrapper {
    height: 100%;
  }

  .link {
    display: inline-block;
    border-radius: 50%;
  }

  .avatar {
    position: relative;

    width: 100%;
    height: auto;
    border: 4px solid var(--mantine-color-dark-filled);

    @mixin dark {
      border-color: var(--mantine-color-yellow-filled);

      @mixin hover {
        border-color: var(--mantine-color-yellow-filled-hover);
      }
    }

    @mixin light {
      border-color: var(--mantine-color-blue-filled);

      @mixin hover {
        border-color: var(--mantine-color-blue-filled-hover);
      }
    }
  }
}
