.app {
  .header {
    border-bottom: rem(1) solid var(--mantine-color-black);

    @media print {
      display: none;
    }
  }

  .navbar {
    overflow: hidden;

    @media print {
      display: none;
    }
  }

  .main {
    padding-top: rem(80);

    @media print {
      padding: var(--mantine-spacing-xl) var(--mantine-spacing-md);
    }
  }

  .footer {
    border-top: rem(1) solid var(--mantine-color-black);

    @media print {
      display: none;
    }
  }
}
