.locale {
  width: rem(40);
  height: rem(40);

  .icon {
    width: 70%;
    height: 70%;
  }

  @mixin dark {
    background: var(--mantine-color-yellow-filled);

    &:focus {
      background: var(--mantine-color-yellow-filled-hover);
    }

    @mixin hover {
      background: var(--mantine-color-yellow-filled-hover);
    }
  }

  @mixin light {
    background: var(--mantine-color-blue-filled);

    &:focus {
      background: var(--mantine-color-blue-filled-hover);
    }

    @mixin hover {
      background: var(--mantine-color-blue-filled-hover);
    }
  }
}

@media print {
  .tooltip {
    display: none;
  }
}
