.container {
  height: 100%;

  .wrapper {
    height: 100%;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .toolbar {
    display: none;

    @media (min-width: $mantine-breakpoint-xs) {
      display: flex;
      flex-direction: row-reverse;
    }
  }

  .breadcrumbs {
    flex: 1;
    justify-content: center;

    @media (min-width: $mantine-breakpoint-xs) {
      justify-content: flex-end;
    }
  }

  .link {
    color: var(--mantine-color-text);
    text-decoration: none;

    &:visited {
      color: inherit;
    }

    @mixin light {
      @mixin hover {
        color: var(--mantine-color-blue-filled-hover);
      }
    }

    @mixin dark {
      @mixin hover {
        color: var(--mantine-color-yellow-filled-hover);
      }
    }
  }
}
