.dialog {
  width: 100%;
}

.button {
  color: var(--mantine-color-yellow-filled);
  border-color: var(--mantine-color-yellow-filled);

  @mixin hover {
    color: var(--mantine-color-yellow-filled-hover);
    border-color: var(--mantine-color-yellow-filled-hover);
  }
}

@media print {
  .dialog {
    display: none;
  }
}
