.section {
  padding: 0 var(--mantine-spacing-md);

  .header {
    display: inline-block;
    width: auto;

    margin-bottom: rem(15);
    padding: rem(5) rem(15);

    color: var(--mantine-color-white);
    background: var(--mantine-color-black);
  }

  .content {
    padding: rem(30) 0;

    @media print {
      padding: 0;
    }
  }

  .education,
  .contact {
    margin-bottom: rem(30);
  }

  .footer {
    @media print {
      display: none;
    }
  }

  .avatar {
    display: none;

    @media (min-width: $mantine-breakpoint-xs) {
      display: block;
      padding-bottom: var(--mantine-spacing-md);
    }
  }
}
