.main {
  padding-top: rem(60);
  padding-bottom: rem(60);

  @media print {
    padding-top: var(--mantine-spacing-md);
    padding-bottom: var(--mantine-spacing-md);
  }
}

.section {
  display: flex;
  flex-direction: column;

  min-height: calc(100vh - rem(120));
}

.header,
.content,
.footer {
  width: 100%;
}

.header,
.footer {
  justify-content: center;
}

.header {
  flex: 0 0 rem(90);
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 rem(180);

  @media print {
    display: none;
  }
}
