@page {
  size: auto; /* auto is the initial value */
  margin: 0; /* this affects the margin in the printer settings */
}

::selection {
  color: var(--mantine-color-text);

  @mixin light {
    background: var(--mantine-color-blue-filled-hover);
  }

  @mixin dark {
    background: var(--mantine-color-yellow-filled-hover);
  }
}

.link {
  color: var(--mantine-color-blue-filled);
  transition: color 300ms ease;

  @mixin hover {
    color: var(--mantine-color-blue-filled-hover);
  }

  @mixin dark {
    color: var(--mantine-color-yellow-filled);

    @media print {
      color: var(--mantine-color-text);
    }

    @mixin hover {
      color: var(--mantine-color-yellow-filled-hover);
    }
  }

  @media print {
    color: var(--mantine-color-text);
  }
}

.button,
.action-icon {
  &[data-variant='filled'] {
    background: var(--mantine-color-blue-filled);
    transition: background 300ms ease;

    @mixin hover {
      background: var(--mantine-color-blue-filled-hover);
    }

    @mixin dark {
      background: var(--mantine-color-yellow-filled);

      @mixin hover {
        background: var(--mantine-color-yellow-filled-hover);
      }
    }
  }
}

@media print {
  body {
    --mantine-font-family-headings: var(--mantine-font-family);
    --mantine-heading-font-weight: 700;
  }
}
