/* CSS Reset */
@page {
  size: auto;
  margin: 0;
}

/* Layout */
html,
body {
  height: 100%;
}

.holy-grail {
  height: 100%;
  display: grid;

  gap: var(--mantine-spacing-lg);
}

.holy-grail--rows {
  grid-template-columns: 1fr auto 1fr;
}

.holy-grail--columns {
  grid-template-rows: auto 1fr auto;
}

.header,
.cover-letter,
.cv,
.footer {
  border-style: solid;
  border-color: var(--mantine-color-lime-5);
}

.header {
  border-width: 0 0 1px;
}

.cv,
.cover-letter {
  padding: var(--mantine-spacing-lg);
}

hr {
  border: 0;
  border-right: 1px solid var(--mantine-color-lime-5);
}

.footer {
  border-width: 1px 0 0;
}

/* Typography */
::selection {
  background-color: var(--mantine-color-lime-5);
  color: var(--mantine-color-black);
}

/* Mobile */
@media (max-width: em(640px)) {
  .cv .holy-grail {
    display: block;
  }
}

/* Print */
@media print {
  /* Layout */
  .header,
  .footer {
    display: none;
  }

  .cv {
    padding: 0;
    border: 0;
  }

  hr {
    border-right: 2px solid var(--mantine-color-black);
  }

  /* Typography */
  body {
    --mantine-font-family-headings: var(--mantine-font-family);
    --mantine-heading-font-weight: 700;
    --mantine-color-body: var(--mantine-color-white);
    --mantine-color-text: var(--mantine-color-black);
  }

  a {
    color: #000 !important;
  }

  svg {
    color: #000;
  }

  /* Helpers */
  .hidden-print {
    display: none;
  }
}
