/* CSS Reset */
@page {
  size: auto;
  margin: 0;
}

/* Layout */
html,
body {
  height: 100%;
}

.holy-grail,
.grid {
  height: 100%;
  display: grid;
}

.holy-grail {
  grid-template-rows: auto 1fr auto;
  grid-template-columns: minmax(0, 1fr);
}

.grid {
  gap: var(--mantine-spacing-xl);

  grid-template-rows: minmax(0, 1fr);
  grid-template-columns: 1fr auto 1fr;

  justify-items: center;
}

.cv,
.cover-letter {
  padding: var(--mantine-spacing-lg);
  border-color: var(--mantine-color-lime-5);
}

hr {
  border: 0;
  border-right: 1px solid var(--mantine-color-lime-5);
}

/* Typography */
::selection {
  background-color: var(--mantine-color-lime-5);
  color: var(--mantine-color-black);
}

/* Helpers */
.border-t,
.border-b {
  border-style: solid;
  border-color: var(--mantine-color-lime-5);
}

.border-t {
  border-width: 1px 0 0;
}

.border-b {
  border-width: 0 0 1px;
}

/* Print */
@media print {
  .cv {
    padding: 0;
    border: 0;
  }

  hr {
    border-right: 2px solid #000;
  }

  /* Typography */
  body {
    --mantine-font-family-headings: var(--mantine-font-family);
    --mantine-heading-font-weight: 700;
    --mantine-color-body: #fff;
    --mantine-color-text: #000;
  }

  a {
    color: #000 !important;
  }

  svg {
    color: #000;
  }

  /* Helpers */
  .hidden-print {
    display: none;
  }
}
