.figure {
  display: flex;
  flex-direction: column;
}

.img {
  width: 100%;
  height: auto;

  border: 2px solid var(--app-shell-border-color);
  border-radius: 50%;

  max-width: 290px;

  @media (min-width: $mantine-breakpoint-xs) {
    max-width: 450px;
  }

  @media (min-width: $mantine-breakpoint-sm) {
    max-width: 100%;
  }
}
