.page {
  padding: 0 var(--mantine-spacing-md);

  .title {
    text-align: right;

    @media (min-width: $mantine-breakpoint-xs) {
      text-align: left;
    }
  }
}

.header {
  flex-direction: row-reverse;
  justify-content: flex-end;

  @media (min-width: $mantine-breakpoint-xs) {
    flex-direction: row;
  }
}

.right {
  order: 1;

  @media (min-width: $mantine-breakpoint-xs) {
    order: 2;
  }
}

.left {
  order: 2;

  @media (min-width: $mantine-breakpoint-xs) {
    order: 1;
  }
}

@media print {
  .header,
  .tooltip,
  .social {
    display: none;
  }
}
