.page {
  padding: 0 var(--mantine-spacing-md);

  .header {
    flex-direction: row-reverse;
    justify-content: flex-end;

    @media (min-width: $mantine-breakpoint-xs) {
      flex-direction: row;
    }

    @media print {
      display: none;
    }
  }

  .title {
    text-align: right;

    @media (min-width: $mantine-breakpoint-xs) {
      text-align: left;
    }
  }
}

@media print {
  .space,
  .tooltip,
  .social {
    display: none;
  }
}
