.breadcrumbs {
  flex: 1;
  justify-content: flex-end;

  @media (max-width: $mantine-breakpoint-xs) {
    justify-content: center;
  }
}

.link {
  text-decoration: none;

  &:visited {
    color: inherit;
  }

  &:focus,
  &:hover {
    color: var(--ai-hover, var(--mantine-primary-color-filled-hover));

    .icon {
      background-color: var(--ai-hover, var(--mantine-primary-color-filled-hover));
    }
  }
}

@media print {
  .footer {
    display: none !important;
  }
}
