.color {
  width: rem(40);
  height: rem(40);

  @mixin dark {
    background: var(--mantine-color-yellow-filled);

    @mixin hover {
      background: var(--mantine-color-yellow-filled-hover);
    }
  }

  @mixin light {
    background: var(--mantine-color-blue-filled);

    @mixin hover {
      background: var(--mantine-color-blue-filled-hover);
    }
  }

  .dark {
    @mixin dark {
      display: none;
    }

    @mixin light {
      display: block;
    }
  }

  .light {
    @mixin light {
      display: none;
    }

    @mixin dark {
      display: block;
    }
  }
}
