.header {
  height: rem(80px);
  margin-bottom: rem(160px);
  background-color: var(--mantine-color-body);
  border-bottom: rem(1px) solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));

  @media print {
    display: none;
  }
}

.navbar {
  padding: var(--mantine-spacing-md);
  display: flex;
  flex-direction: column;
  border-right: rem(1px) solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));

  @media print {
    display: none;
  }
}
