.container {
  height: 100%;

  .header {
    height: 100%;
    flex-wrap: nowrap;
    justify-content: space-between;

    .wrapper {
      justify-content: space-between;

      @media (min-width: $mantine-breakpoint-xs) {
        flex: 1;
      }
    }
  }

  .burger {
    display: block;
    width: rem(30);
    height: rem(30);

    @media (min-width: $mantine-breakpoint-xs) {
      display: none;
    }
  }

  .link {
    color: var(--mantine-color-text);
    text-decoration: none;

    &:visited {
      color: inherit;
    }

    @mixin light {
      @mixin hover {
        color: var(--mantine-color-blue-filled-hover);

        .avatar span {
          --avatar-bg: var(--mantine-color-blue-filled-hover);
        }
      }
    }

    @mixin dark {
      @mixin hover {
        color: var(--mantine-color-yellow-filled-hover);

        .avatar span {
          --avatar-bg: var(--mantine-color-yellow-filled-hover);
        }
      }
    }
  }

  .logo {
    flex-wrap: nowrap;
  }

  .avatar {
    --avatar-size: rem(30);

    span {
      @mixin dark {
        --avatar-bg: var(--mantine-color-yellow-filled);

        @mixin hover {
          --avatar-bg: var(--mantine-color-yellow-filled-hover);
        }
      }

      @mixin light {
        --avatar-bg: var(--mantine-color-blue-filled);

        @mixin hover {
          --avatar-bg: var(--mantine-color-blue-filled-hover);
        }
      }
    }
  }

  .title {
    font-size: rem(30);
    line-height: 1;
  }

  .toolbar {
    display: none;

    @media (min-width: $mantine-breakpoint-xs) {
      display: flex;
    }
  }
}
