.header {
  @media print {
    display: none;
  }
}

.navbar {
  overflow: hidden;

  @media print {
    display: none;
  }
}

.main {
  padding-top: calc(rem(60px) + var(--mantine-spacing-xl));
  padding-bottom: calc(rem(60px) + var(--mantine-spacing-xl));

  @media print {
    padding-top: var(--mantine-spacing-xl);
    padding-bottom: var(--mantine-spacing-xl);
  }
}

.footer {
  @media print {
    display: none;
  }
}
