.header {
  height: rem(60);
  border-bottom: 1px solid var(--mantine-color-black);

  .wrapper {
    height: 100%;
    padding-left: var(--mantine-spacing-md);
    padding-right: var(--mantine-spacing-md);
    justify-content: center;
  }

  .title {
    white-space: nowrap;
  }
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;

  .avatar {
    max-width: 300px;
  }
}

.footer {
  border-top: 1px solid var(--mantine-color-black);
  height: rem(60);

  .toolbar {
    height: 100%;
    justify-content: space-evenly;
  }
}
